body{margin-top: 80px !important;overflow: auto !important;height: 100% !important;}
.wrap{position: relative;}
.inner{position: relative;width: 1440px;margin: 0 auto;padding: 170px 0 200px;box-sizing: border-box;}

.mobileShow {display: none !important;}
.mobileShowInline {display: none !important;}
.tabletShow {display: none !important;}
.tabletShowInline {display: none !important;}

/* text */
.titleLg{display: block;margin-top: 22px;font-size: 150px;font-size: min(7.8vw, 150px);line-height: 1;font-weight: 400;font-family:'Black Han Sans', "Apple SD Gothic Neo";text-align: center;letter-spacing: -0.01em;}
.textSm{font-size: 20px;line-height: 140%;font-weight: 500;text-align: center;letter-spacing: 0.2em;}
.textMd{font-size: 23px;line-height: 140%;font-weight: 700;text-align: center;letter-spacing: 0.2em;}
.colorDark{color: #222 !important;}
.colorRed{color:#FF4655 !important;}
.colorWhite{color:#fff !important;}
.colorGray{color:#ECE8E1 !important;}
.fontLtPro{font-family: "DINNextLTPro-Regular";font-feature-settings: 'salt' on;}

/* btn */
.btn{position: relative;display: inline-block;box-sizing: border-box;text-align: center;cursor: pointer;overflow: hidden;}
.btn.full{width: 100%;}
.btn.sm{/* min-width: 128px;height: 36px;font-size: 16px;font-weight: 700;text-align: center; */}
.btn.md{height: 72px;font-size: 20px;font-weight: 700;text-align: center;}
.btn.lg{/* height: 76px;font-size: 24px;line-height: 150%;font-weight: 700;text-align: center; */}

.btnBgGray{width: 165px;height: 60px !important;background-color: #CDC9C2;color: #A09D96;cursor: inherit;pointer-events: none;}
.btnBgGray.on{background-color: #FF4655;color: #ECE8E1;cursor: pointer;pointer-events: inherit;}


#btnEvent{position: absolute;right: 60px;top: 120px;font-size: 20px;color: #fff;font-weight: 700;line-height: 100%;letter-spacing: 0.1em;transform: rotate(90deg);}
#btnEvent span{position: relative;}
#btnEvent span:before{content: "";display: block;position: absolute;bottom: 0;left: 0;width: 100%;height: 1px;background-color: #fff;transform-origin: left center;transition: transform 300ms ease-in-out;-webkit-animation: fillLine 1s ease-in-out both;-moz-animation: fillLine 1s ease-in-out both;-ms-keyframes: fillLine 1s ease-in-out both;-o-animation: fillLine 1s ease-in-out both;animation: fillLine 1s ease-in-out both;}

.textEffectHidden{overflow: hidden;}
.textEffect{-webkit-transform: translateY(115%);transform: translateY(115%);-webkit-transition: -webkit-transform .65s cubic-bezier(.25,.46,.45,.94);transition: -webkit-transform .65s cubic-bezier(.25,.46,.45,.94);transition: transform .65s cubic-bezier(.25,.46,.45,.94);transition: transform .65s cubic-bezier(.25,.46,.45,.94),-webkit-transform .65s cubic-bezier(.25,.46,.45,.94);}
.textEffect.active{-webkit-transform: translateY(0);transform: translateY(0);}
.scrolltop{position: absolute;top: -50px;left: 0;width: 181px;height: 1331px;z-index: 1;}
.scrollLeft{position: absolute;bottom: -49px;left: 0;width: 2226px;height: 344px;}

.valorantBar{position: fixed;top: 80px;right: 0;display: block;width: 80px;height: 100%;background-image: url(../images/img_rightBar.png);background-position: center top;background-size: cover;background-repeat: no-repeat;z-index: 99;}
#btnMenuOpen {position: absolute;left: 63px;top: 56px;width: 80px;height: 80px;background: rgba(255, 255, 255, 0.1);border: 1px solid #ECE8E1;backdrop-filter: blur(3px);-webkit-backdrop-filter: blur(3px);box-sizing: border-box;transform: translateX(0);-webkit-transform: translateX(0);transition-duration: 0.5s;-webkit-transition-duration: 0.5s;z-index: 9;}
#btnMenuOpen:before {content: "";position: absolute;left: 17px;top: 23px;display: block;width: 44px;height: 3px;background-color: #ECE8E1;}
#btnMenuOpen span {display: block;width: 100%;height: 100%;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
#btnMenuOpen span:before {content: "";position: absolute;left: 17px;top: 38px;display: block;width: 44px;height: 3px;background-color: #ECE8E1;}
#btnMenuOpen span:after {content: "";position: absolute;left: 17px;top: 53px;display: block;width: 44px;height: 3px;background-color: #ECE8E1;}
#btnMenuOpen.open{transform: translateX(-200px);-webkit-transform: translateX(-200px);transition-duration: 0.5s;-webkit-transition-duration: 0.5s;}
#leftmenu{position: absolute;top: 56px;left: 63px;padding: 100px 30px 40px;background: rgba(0, 0, 0, 0.26);border: 1px solid #ECE8E1;backdrop-filter: blur(15px);-webkit-backdrop-filter: blur(15px);width: 375px;min-height: 500px;max-height: 878px;overflow-y: auto;box-sizing: border-box;z-index: 999;transform: translateX(-600px);-webkit-transform: translateX(-600px);transition-duration: 0.8s;-webkit-transition-duration: 0.8s;-webkit-overflow-scrolling: touch;opacity: 1;scrollbar-color: #CDC7BD;scrollbar-width: thin;}
#leftmenu::-webkit-scrollbar{width: 6px;}
#leftmenu::-webkit-scrollbar-thumb {background: #ECE8E1;border-radius: 30px;}
#leftmenu::-webkit-scrollbar-thumb:hover {background: #ECE8E1;}
#leftmenu::-webkit-scrollbar-thumb:active {background: #ECE8E1;}
#leftmenu h4{margin-bottom: 25px;font-size: 24px;color: #ECE8E1;font-weight: 600;line-height: 100%;letter-spacing: 0.1em;}
#leftmenu .bannerGroup{/* margin-bottom: 80px; */}
#leftmenu .bannerGroup li + li{margin-top: 20px;}
#leftmenu .bannerGroup li a{display: block;}
#leftmenu .bannerGroup li a p{margin-top: 8px; font-size: 21px;color: #ECE8E1;font-weight: 600;line-height: 140%;vertical-align: middle;}
#leftmenu .bannerGroup li a p img{margin-right: 9px;}
#leftmenu .channelGroup{display: flex;align-items: center;margin-bottom: 60px;}
#leftmenu .channelGroup a{position: relative;display: flex;align-items: center;justify-content: center;width: 72px;height: 72px;background-position: center;background-repeat: no-repeat;border: 1px solid #ECE8E1;box-sizing: border-box;overflow: hidden;text-indent: -9999px;white-space: nowrap;transition: .3s;-webkit-transition: .3s;}
#leftmenu .channelGroup a:before{content: "";position: absolute;top: -3px;left: 4px;width: 1px;height: 14px;background-color: #ECE8E1;transform: rotate(315deg);}
#leftmenu .channelGroup a:after{content: "";position: absolute;bottom: -3px;right: 4px;width: 1px;height: 14px;background-color: #ECE8E1;transform: rotate(315deg);}
#leftmenu .channelGroup a + a{margin-left: 9px;}
#btnMenuclose {position: absolute;top: 22px;left: 22px;width: 50px;height: 50px;transform: rotate(45deg);overflow: hidden;text-indent: -9999px;white-space: nowrap;}
#btnMenuclose:before{content: "";position: absolute;left: 23px;top: 0px;display: block;width: 3px;height: 50px;background-color: #ECE8E1;}
#btnMenuclose:after{content: "";position: absolute;left: 0px;top: 23px;display: block;width: 50px;height: 3px;background-color: #ECE8E1;}
#leftmenu.active{transform: translateX(0);-webkit-transform: translateX(0);transition-duration: 0.8s;-webkit-transition-duration: 0.8s;}

.floating{display: none;position: fixed;right: 122px;bottom: 50px;padding: 5px;border: 1px solid rgba(236, 232, 225, 0.5);box-sizing: border-box;filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.3));backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);z-index: 99;}
.floating a{position: relative;display: flex;align-items: center;justify-content: center;flex-direction: column;flex-wrap: wrap;padding: 20px;background: #FF4655;}
.floating a:before{content: "";position: absolute;left: 0;top: 0; width: 4px;height: 4px;background: #0F1923;}
.floating a:after{content: "";position: absolute;right: 0;bottom: 0; width: 4px;height: 4px;background: #0F1923;}
.floating a p{margin-top: 12px;font-size: 17px;color: #ECE8E1;line-height: 130%;font-weight: 700;text-align: center;}


.visualSection{position: relative;}
.visualSection .visualVedio{position: absolute;top: 0;bottom: 0;left: 0;right: 0;width: 100%;max-height: 100%;height: 42vw;overflow: hidden;}
.visualSection .visualVedio video{height: 100%;-o-object-fit: cover;object-fit: cover;-o-object-position: center;object-position: center;-o-object-position: 46% center;object-position: 46% center;width: 100%;}
.visualSection .visualInner{position: relative;-ms-flex-align: center;-ms-flex-pack: center;align-items: center;display: -ms-flexbox;display: flex;-ms-flex-direction: column;flex-direction: column;justify-content: center;max-width: 1440px;width: 100%;height: 36vw;padding: 4rem 5%;margin: 0 auto;box-sizing: border-box;}
.visualSection .visualInner:before{content: "";position: absolute;top: 0;left: 0;display: block;height: 100%;border-right: 1px solid rgba(236, 232, 225, 0.5);}
.visualSection .visualInner:after{content: "";position: absolute;top: 0;right: 0;display: block;height: 100%;border-right: 1px solid rgba(236, 232, 225, 0.5);}
.visualSection .visualInner .visualText .textValorant{text-align: center;}
.visualSection .visualInner .visualText .textValorant img{margin: 0 auto;}
.visualSection .visualInner .visualText p{position: relative;margin-top: 20px;font-size: 24px;color: #ECE8E1;font-weight: 600;line-height: 110%;word-break: keep-all;text-align: center;letter-spacing: 0.1em;}
.visualSection .visualInner .visualText + .btnLine{margin-top: 60px;display: inline-block;border: 1px solid rgba(236, 232, 225, 0.5);box-sizing: border-box;}
.visualSection .btnEventJoin{position: relative;overflow: hidden;width: 382px;height: 76px;margin: 5px;background: #FF4655;font-size: 25px;color: #ECE8E1;line-height: 150%;font-weight: 700;letter-spacing: 0.1em;text-align: center;}
.visualSection .btnEventJoin span {position: relative;}
.visualSection .btnEventJoin .bgHover {display: block;position: absolute !important;top: 0;width: 120%;height: 100%;left: -5%;background: #000;-webkit-transform: translateX(-100%) skew(-10deg);transform: translateX(-100%) skew(-10deg);-webkit-transition: -webkit-transform .5s ease-out;transition: -webkit-transform .5s ease-out;transition: transform .5s ease-out;transition: transform .5s ease-out,-webkit-transform .5s ease-out;}
.visualSection .btnEventJoin:hover .bgHover {-webkit-transform: translateX(0) skew(10deg);transform: translateX(0) skew(10deg);}

.missionSection{position: relative;overflow: hidden;background-color: #ECE8E1;background-image: url(../images/bg_mission.png);background-position: center;background-repeat: no-repeat;}
.missionSection .missionInner{position: relative;max-width: 1440px;width: 100%;padding: 100px 3.4% 93px;margin: 0 auto;box-sizing: border-box;z-index: 9;}
.missionSection .missionInner:before{content: "";position: absolute;top: 0;left: 0;display: block;height: 100%;border-right: 1px solid #7E8082;}
.missionSection .missionInner:after{content: "";position: absolute;top: 0;right: 0;display: block;height: 100%;border-right: 1px solid #7E8082;}
.missionHeader{position: relative;margin-bottom: 40px;text-align: center;box-sizing: border-box;z-index: 9;}
.missionHeader .title{display: flex;align-items: center;justify-content: center;}
.missionHeader .title h3{font-size: 110px;font-size: min(5.8vw, 110px);color: #0F1923;font-weight: 400;line-height: 100%;letter-spacing: -0.01em;word-break: keep-all;font-family: 'Black Han Sans';}
.missionHeader .text{font-size: 72px;font-size: min(3.8vw, 72px);color: #0F1923;font-weight: 400;line-height: 100%;letter-spacing: -0.01em;word-break: keep-all;font-family: 'Black Han Sans';}
.missionBody{display: flex;align-items: center;justify-content: space-between;}
.missionPlayArea{position: relative;margin-top: 20px;}
.bounceRedBox{position: absolute;top: -57px;left: 79px;display: flex;align-items: center;justify-content: center;width: auto;padding: 7px 8px;background: #ece8e1;border: 1px solid #FF4655;box-sizing: border-box;font-weight: 700;font-size: 14px;line-height: 145%;color: #FF4655;-webkit-animation: bounceBox 3s infinite;-moz-animation: bounceBox 3s infinite;-ms-animation: bounceBox 3s infinite;-o-animation: bounceBox 3s infinite;animation: bounceBox 3s infinite;}
.bounceRedBox p:after{content: "";position: absolute;bottom: -12px;left: 19px;width: 16px;height: 13px;background-color: #ece8e1;background-image: url(../images/v.svg);background-repeat: no-repeat;z-index: 1;}
.missionPlayArea .playItemGroup{display: flex;}
.playItem .number{position: relative;display: flex;align-items: center;justify-content: center;height: 48px;background: #545454;border: 1px solid #8B978F;box-sizing: border-box;font-size: 20px;color: #ECE8E1;font-weight: 700;line-height: 105%;text-align: center;letter-spacing: -0.01em;}
.playItem .mobileNumber{display: none;position: relative;justify-content: center;align-items: center;width: 58px;background: #545454;border: 1px solid #8B978F;box-sizing: border-box;font-size: 16px;color: #ECE8E1;font-weight: 700;line-height: 105%;text-align: center;letter-spacing: -0.01em;}
.playItem .number:after{content: "";position: absolute;top: 0;right: -9px;width: 9px;height: 48px;background-image: url(../images/img_playNum_arrow.png);background-repeat: no-repeat;z-index: 1;}
.playItem:last-child .number:after{display: none;}
.playItem .item{position: relative;width: 181px;background: #ece8e1;border: 1px solid #8B978F;border-top: 0;box-sizing: border-box;}
.playItem + .playItem .item{margin-left: -1px;}
.playItem .item:after{content: "";display: none;position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-image: url(../images/img_stamp.png);background-position: center;background-repeat: no-repeat;z-index: 1;}
.playItem .item .itemImg{display: flex;align-items: center;justify-content: center;width: 100%;height: 140px;padding-top: 20px;box-sizing: border-box;}
.playItem .item .itemName{display: flex;flex-direction: row;flex-wrap: wrap;height: 54px;padding: 0 20px;margin-bottom: 20px;margin-top: 10px;font-size: 18px;color: #0F1923;font-weight: 600;line-height: 150%;align-items: center;word-break: keep-all;}
.playItem .item .itemName span{font-size: 16px;}
.playItem.on .number{background: #FF4655;border-color: #ECE8E1;}
.playItem.on .number:after{background-image: url(../images/img_playNum_arrow_on.png);}
.playItem.on .item:after{display: block;}
.playItem.on .item .itemImg, .playItem.on .item .itemName{opacity: 0.08;}
.missionSpecialArea p{margin-top: 10px; font-size: 14px;color: #595959;font-weight: 500;line-height: 105%;text-align: center;letter-spacing: -0.01em;}
.missionSpecialArea .btnLine{margin-top: 21px; display: inline-block;border: 1px solid rgba(139, 151, 143, 0.5);box-sizing: border-box;}
.missionSpecialArea .btnLine .btnSpecialItem{position: relative;overflow: hidden;width: 266px;height: 68px;margin: 5px;background: #FF4655;font-size: 20px;color: #ECE8E1;line-height: 150%;font-weight: 700;letter-spacing: 0.1em;text-align: center;}
.missionSpecialArea .btnLine .btnSpecialItem span{position: relative;}
.missionSpecialArea .btnLine .btnSpecialItem .bgHover{display: block;position: absolute !important;top: 0;width: 120%;height: 100%;left: -5%;background: #000;-webkit-transform: translateX(-100%) skew(-10deg);transform: translateX(-100%) skew(-10deg);-webkit-transition: -webkit-transform .5s ease-out;transition: -webkit-transform .5s ease-out;transition: transform .5s ease-out;transition: transform .5s ease-out,-webkit-transform .5s ease-out;}
.missionSpecialArea .btnLine .btnSpecialItem:hover .bgHover{-webkit-transform: translateX(0) skew(10deg);transform: translateX(0) skew(10deg);}
.missionSpecialArea .btnLine .btnSpecialItem[disabled]{background: #A09D96;color: #BABABA;pointer-events: none;}

.cardGetSection{position: relative;max-height: 711px;background-color: #ff4654;background-image: url(../images/bg_cardGet.png);background-position: center;background-repeat: no-repeat;}
.cardGetSection .cardGetInner{position: relative;max-width: 1440px;width: 100%;padding: 60px 100px 85px 100px;margin: 0 auto;box-sizing: border-box;z-index: 9;}
.cardGetSection .cardGetInner .cardGetFlex{position: relative;display: flex;flex-direction: row;justify-content: space-between;flex-wrap: wrap;align-items: center;}
.cardGetInfo {position: relative;max-width: 606px;padding-top: 40px;box-sizing: border-box;}
.cardGetInfo .cardGetInfoInner:before {content: "";display: block;position: absolute;top: 0;left: 0;width: 99px;height: 10px;background-color: #ECE8E1;transform-origin: left center;transition: transform 300ms ease-in-out;-webkit-animation: fillLine 0.8s ease-in-out both;-moz-animation: fillLine 0.8s ease-in-out both;-ms-keyframes: fillLine 0.8s ease-in-out both;-o-animation: fillLine 0.8s ease-in-out both;animation: fillLine 0.8s ease-in-out both;}
.cardGetInfo .cardGetHeader p{font-size: 44px;font-size: min(2.3vw, 44px);color: #ECE8E1;font-weight: 400;line-height: 105%;letter-spacing: -0.01em;font-family: 'Black Han Sans';}
.cardGetInfo .cardGetHeader h3{margin-top: 6px;font-size: 84px;font-size: min(4.3vw, 84px);color: #ECE8E1;font-weight: 400;line-height: 105%;letter-spacing: -0.01em;font-family: 'Black Han Sans';}
.cardGetInfo .phoneConfirm{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;justify-content: space-between;max-width: 584px;padding: 12px 21px 13px 27px;margin-top: 30px;background: #ECE8E1;border: 1px solid #ECE8E1;box-sizing: border-box;}
.cardGetInfo .phoneConfirm p{max-width: 343px;width: calc(100% - 162px);font-weight: 700;font-size: 16px;line-height: 150%;color: #0F1923;word-break: keep-all;}
.cardGetInfo .phoneConfirm .btnGetDetails{width: 162px;height: 51px;background: #0F1923;font-size: 18px;color: #ECE8E1;font-weight: 800;}
.cardGetInfo .cardGetValue{display: flex;align-items: flex-start;justify-content: space-between;flex-direction: row;flex-wrap: wrap;margin-top: 55px;}
.cardGetInfo .cardGetValue .cardGetNum{display: flex;flex-direction: column;flex-wrap: wrap;align-items: flex-start;padding-left: 50px;background-image: url(../images/icon_dotArrow_lg.svg);background-position: 10px 9px;background-repeat: no-repeat;}
.cardGetInfo .cardGetValue .cardGetNum p{font-size: 24px;color: #ECE8E1;font-weight: 700;line-height: 140%;letter-spacing: 0.07em;}
.cardGetInfo .cardGetValue .cardGetNum p span{display: none;}
.cardGetInfo .cardGetValue .cardGetNum strong{margin-top: 20px;font-size: 180px;;color: #ECE8E1;font-weight: 400;line-height: 80%;letter-spacing: 0.02em;font-family: "Tungsten-Bold";}
.cardGetInfo .cardGetValue .cardGetNum strong.off{opacity: 0.5;}
.cardGetInfo .cardGetValue .cardGetNum .btnGetDetails{margin-top: 5px;font-size: 16px;color: #ECE8E1;font-weight: 700;line-height: 150%;text-decoration-line: underline;z-index: 1;}
.cardGetInfo .cardGetValue .teamPlayNum{display: flex;flex-direction: column;flex-wrap: wrap;margin-top: 5px;}
.cardGetInfo .cardGetValue .teamPlayNum > p{font-size: 18px;color: #ECE8E1;font-weight: 600;line-height: 150%;}
.cardGetInfo .cardGetValue .teamPlayNum > p > span{margin-left: 20px;}
.cardGetInfo .cardGetValue .teamPlayNum .textBalloon{position: relative;display: flex;align-items: center;justify-content: center;width: 272px;height: 108px;padding-top: 15px;margin-top: 20px;background-image: url(../images/bg_textBalloon.svg);background-size: 100%;background-repeat: no-repeat;box-sizing: border-box;-webkit-animation: bounceBox 3s infinite;-moz-animation: bounceBox 3s infinite;-ms-animation: bounceBox 3s infinite;-o-animation: bounceBox 3s infinite;animation: bounceBox 3s infinite;}
.cardGetInfo .cardGetValue .teamPlayNum .textBalloon p{font-weight: 700;font-size: 16px;line-height: 145%;}
.cardGetInfo .cardGetValue .teamPlayNum .textBalloon p span{color: #50BF98;text-decoration-line: underline;}
.cardGetInfo .cardGetValue .teamPlayNum .btnEventInfo{margin-top: 42px;font-size: 16px;color: #ECE8E1;font-weight: 400;line-height: 150%;text-align: center;text-decoration-line: underline;text-align: right;}
.cardOpenWrap{width: 400px;}
.cardOpenWrap .cardBackImg{position: relative;width: 382px;height: 442px;margin: 0 auto 30px;}
.cardOpenWrap .cardBackImg div{position: absolute;top: 0;left: 50%;width: 305px;transform: translateX(-50%) rotate(0deg);transition-duration: 1s;-webkit-transition-duration: 1s;}
.cardOpenWrap .btnLine .btnLoginChk{position: relative;overflow: hidden;width: 294px;height: 72px;margin: 5px;background: #0F1923;font-size: 20px;color: #ECE8E1;line-height: 150%;font-weight: 700;letter-spacing: 0.1em;text-align: center;}
.cardOpenWrap .btnLine{display: inline-block;border: 1px solid rgba(139, 151, 143, 0.5);box-sizing: border-box;}
.cardOpenWrap .btnLine .btnCardOpen{position: relative;overflow: hidden;width: 294px;height: 72px;margin: 5px;background: #FF4655;font-size: 20px;color: #ECE8E1;line-height: 150%;font-weight: 700;letter-spacing: 0.1em;text-align: center;}
.cardOpenWrap .btnLine .btnCardOpen span{position: relative;}
.cardOpenWrap .btnLine .btnCardOpen .bgHover{display: block;position: absolute !important;top: 0;width: 120%;height: 100%;left: -5%;background: #000;-webkit-transform: translateX(-100%) skew(-10deg);transform: translateX(-100%) skew(-10deg);-webkit-transition: -webkit-transform .5s ease-out;transition: -webkit-transform .5s ease-out;transition: transform .5s ease-out;transition: transform .5s ease-out,-webkit-transform .5s ease-out;}
.cardOpenWrap .btnLine .btnCardOpen:hover .bgHover{-webkit-transform: translateX(0) skew(10deg);transform: translateX(0) skew(10deg);}
.cardOpenWrap .btnLine .btnCardOpen[disabled]{background: #5C5C5C;color: #969191;pointer-events: none;}
.cardGetSection.start .cardOpenWrap .cardBackImg div:nth-child(1){top: 17px;left: calc(50% + 26px);transform: translateX(-50%) rotate(12.14deg);}
.cardGetSection.start .cardOpenWrap .cardBackImg div:nth-child(2){top: 6px;left: calc(50% - 21px);transform: translateX(-50%) rotate(-7.03deg);}


.cardSlideSection{display: flex;justify-content: center;align-items: center;padding: 116px 0 125px;background-color: #0F1923;background-image: url(../images/bg_cardSlide.png);background-size: cover;background-position: center;box-sizing: border-box;}
.cardSlideSection .cardSlideInner{width: 100%;}
.cardSlideHeader{margin-bottom: 50px;text-align: center;}
.cardSlideHeader strong{display: block;font-size: 60px;font-size: min(3.6vw, 60px);color: #FF4655;font-weight: 400;line-height: 105%;letter-spacing: -0.01em;font-family: 'Black Han Sans';}
.cardSlideHeader h3{margin-top: 10px;font-size: 140px;font-size: min(8.5vw, 140px);color: #ECE8E1;font-weight: 400;line-height: 105%;letter-spacing: -0.01em;font-family: 'Black Han Sans';}
.cardSlideHeader p{font-size: 24px;font-size: min(2vw, 24px);color: #ECE8E1;font-weight: 500;line-height: 160%;letter-spacing: 0.02em;word-break: keep-all;opacity: 0.8;}
.cardSlideWrap{position: relative;padding: 50px 0;box-sizing: border-box;height: 100%;}
.cardSlideWrap:before{content: "";position: absolute;left: 0;top: 0;display: block;width: 100%;height: 100%;background-image: url(../images/bg_cardFrame.png);background-position: center;background-repeat: no-repeat;}
.cardSlider .slideItem{opacity: 0.6;-webkit-transition: opacity 0.3s;transition: opacity 0.3s;}
.cardSlider .slideItem img{width: 350px;height: 350px;transform: scale(0.8);-webkit-transition: opacity 0.3s, -webkit-transform 0.8s;transition: opacity 0.3s, transform 0.8s;}
.cardSlider .slideItem .name{opacity: 0;display: flex;align-items: center;justify-content: center;max-width: 350px;height: 60px;padding: 0 20px;box-sizing: border-box;font-size: 24px;color: #FF4655;font-weight: 600;line-height: 120%;word-break: keep-all;text-align: center;-webkit-transition: opacity 0.2s, -webkit-transform 0.8s;transition: opacity 0.2s, transform 0.8s, -webkit-transform 0.8s;}
.cardSlider .slick-current .slideItem{opacity: 1;}
.cardSlider .slick-current .slideItem img{transform: scale(1);}
.cardSlider .slick-current .slideItem .name{opacity: 1;-webkit-transition: opacity 2s, -webkit-transform 0.8s;transition: opacity 2s, transform 0.8s, -webkit-transform 0.8s;}

.updateSection{position: relative;overflow: hidden;}
.updateSection .updateInner{position: relative;width: 100%;padding: 157px 0 217px;margin: 0 auto;box-sizing: border-box;}
.updateText{position: relative;margin-bottom: 94px;text-align: center;box-sizing: border-box;z-index: 9;}
.updateText .title{font-size: 110px;font-size: min(5.5vw, 110px); color: #ECE8E1;font-weight: 400;line-height: 100%;word-break: keep-all;text-align: center;text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);font-family: 'Black Han Sans';}
.updateText .text{margin-top: 20px;font-size: 20px;color: #ECE8E1;font-weight: 400;line-height: 160%;word-break: keep-all;text-align: center;letter-spacing: 0.02em;text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);}
.BgSlideImg{position: absolute;top: 0;bottom: 0;left: 0;right: 0;width: 100%;height: 100%;overflow: hidden;}
.BgSlideImg p{position: relative;height: 100%;transition: .3s;-webkit-transition: .3s;}
.BgSlideImg p:before{content: "";position: absolute;width: 100%;height: 100%; background: rgba(0, 0, 0, 0.6);backdrop-filter: blur(2.5px);-webkit-backdrop-filter: blur(2.5px);transition: .3s;-webkit-transition: .3s;}
.BgSlideImg p img, .BgSlideImg p video{-o-object-fit: cover;object-fit: cover;-o-object-position: center;object-position: center;-o-object-position: center;object-position: center;width: 100%;height: 100%;transition: .3s;-webkit-transition: .3s;}
.updateTextSlide{position: absolute;left: calc(50% - 600px);min-width: auto;width: 360px;box-sizing: border-box;}
.updateTextSlide .textItem{position: relative;padding-top: 60px;margin-top: 12px;}
.updateTextSlide .textItem:before{content: "";display: block;position: absolute;top: 0;left: 0;width: 160px;height: 15px;background-color: #FF4655;transform-origin: left center;transition: transform 300ms ease-in-out;}
.updateTextSlide .slick-current .textItem:before{-webkit-animation: fillLine 0.5s ease-in-out both;-moz-animation: fillLine 0.5s ease-in-out both;-ms-keyframes: fillLine 0.5s ease-in-out both;-o-animation: fillLine 0.5s ease-in-out both;animation: fillLine 0.5s ease-in-out both;}
.updateTextSlide .textItem .title{font-size: 60px;color: #ECE8E1;font-weight: 400;line-height: 110%;word-break: keep-all;font-family: 'Black Han Sans';}
.updateTextSlide .textItem .text{margin-top: 35px;font-size: 18px;color: #ECE8E1;font-weight: 400;line-height: 170%;word-break: keep-all;}
.updateThumbSlide{margin-left: calc(50% - 160px);box-sizing: border-box;z-index: 10;}
.updateThumbSlide .slick-slide{margin: 0 15px;line-height: 0;}
.updateThumbSlide .Thumb{position: relative;width: 800px;height: 450px;overflow: hidden;box-sizing: border-box;transition: .3s;-webkit-transition: .3s;}
.updateThumbSlide .Thumb:before{content: "";position: absolute;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.7);backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);transition: .3s;-webkit-transition: .3s;opacity: 1;}
.updateThumbSlide .Thumb:after{content: "";position: absolute;top: 0;left: 0;width: calc(100% - 2px);height: calc(100% - 2px);border: 1px solid #ECE8E1;transition: .3s;-webkit-transition: .3s;opacity: 0;}
.updateThumbSlide .slick-current .Thumb:before{opacity: 0;}
.updateThumbSlide .slick-current .Thumb:after{opacity: 1;}
.updateThumbSlide .Thumb img{width: 100%;height: 100%;object-fit: cover;}
.updateThumbSlide .Thumb video{width: 100%;height: 100%;object-fit: cover;}
.updateArrow{position: absolute;left: calc(50% - 660px);bottom: 197px;font-size: 0;z-index: 10;}
.updateArrow button{width: 80px;height: 80px;background-color: rgba(236, 232, 225, 0.1);background-image: url(../images/icon_update_arrow.svg);background-position: center center;background-repeat: no-repeat;backdrop-filter: blur(3px);-webkit-backdrop-filter: blur(3px);border: 1px solid #ECE8E1;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.updateArrow .next{transform: rotate(180deg);margin-left: 10px;}

/********** error ***********/
.errorPage{display: flex;align-items: center;justify-content: center;flex-direction: column;height: 100vh;height: var(--vh);margin-top: -80px;}
.errorPage .errorText{margin-bottom: 60px;}
.errorPage .errorText .textValorant{text-align: center;}
.errorPage .errorText h2{display: block;margin-top: 33px;font-size: 200px;line-height: 1;font-weight: 400;font-family:'Black Han Sans', "Apple SD Gothic Neo";text-align: center;}
.errorPage .errorText p{position: relative;margin-top: 60px;font-size: 28px;color: #ECE8E1;font-weight: 600;line-height: 170%;word-break: keep-all;text-align: center;}
.errorPage .fontLtPro{letter-spacing: 12px;}
#btnHome{width: 280px;height: 72px;background-color: #FF4655;font-size: 20px;color: #ECE8E1;font-weight: 700;}
#btnHome span{position: relative;}
#btnHome .bgHover{display: block;position: absolute !important;top: 0;width: 120%;height: 100%;left: -5%;background: #000;-webkit-transform: translateX(-100%) skew(-10deg);transform: translateX(-100%) skew(-10deg);-webkit-transition: -webkit-transform .5s ease-out;transition: -webkit-transform .5s ease-out;transition: transform .5s ease-out;transition: transform .5s ease-out,-webkit-transform .5s ease-out;}
#btnHome:hover .bgHover{-webkit-transform: translateX(0) skew(10deg);transform: translateX(0) skew(10deg);}

@media screen and (max-width: 1439px){
    .tabletShow {display: block !important;}
	.tabletShowInline {display: inline-block !important;}
    .tabletHide{display: none !important;}

    .textMd{font-size: 18px;}

    .scrolltop{top: 200px;width: 189px;height: 1781px;}

    #btnMenuOpen{top: 30px;left: 2%;}
    #btnEvent{bottom: auto;top: 100px;right: 30px;font-size: 18px;}

    .valorantBar{width: 60px;}
    .floating{right: 80px;bottom: 30px;}

    .visualSection .visualInner{max-width: 80%;}
    .visualSection .visualInner .visualText + .btnLine{margin-top: 40px;}

    .missionSection .missionInner{max-width: 80%;}
    .missionBody{flex-direction: column;}
    .missionPlayArea{margin-top: 50px;}
    .playItem .item{width: 160px;}
    .playItem .item .itemImg{padding-top: 10px;}
    .playItem .item .itemName{padding: 0 10px;margin-bottom: 10px;font-size: 16px;}
    .missionSpecialArea{margin-top: 40px;}
    
    .cardGetSection{max-height: inherit;background-size: cover;background-position: 53% center;}
    .cardGetSection .cardGetInner{padding: 60px 3% 85px;}
    .cardGetInfo{width: 50%;}
    .cardGetInfo .cardGetValue .cardGetNum{padding-left: 40px;}
    .cardGetInfo .cardGetValue .cardGetNum strong{font-size: 160px;}
    .cardGetInfo .cardGetValue .teamPlayNum .textBalloon{width: 230px;height: 92px;padding-top: 10px;}
    .cardGetInfo .cardGetValue .teamPlayNum .textBalloon p{font-size: 14px;}
    .cardOpenWrap{width: 45%;}
    
    .updateTextSlide{left: 5%;}
    .updateTextSlide .textItem{padding-top: 30px;margin-top: 0;}
    .updateTextSlide .textItem:before{width: 120px;height: 5px;}
    .updateTextSlide .textItem .title{font-size: 50px;}
    .updateTextSlide .textItem .text{margin-top: 25px;font-size: 16px;}
    .updateThumbSlide{margin-left: 450px;}
    .updateThumbSlide .Thumb{width: 50vw;padding-top: 57%;height: 100%;}
    .updateThumbSlide .Thumb:after{height: calc(100% - 3px);}
    .updateThumbSlide .Thumb img, .updateThumbSlide .Thumb video{position: absolute;top: 0;left: 0;}
    .updateArrow{left: 5%;bottom: 15%;}
    
    .errorPage .errorText h2{font-size: 120px;}
    .errorPage .errorText p{font-size: 22px;}
}
@media screen and (max-width: 1024px){

    .valorantBar{display: none;}
    .floating{display: none !important;}

    .visualSection .visualVedio{height: 490px;}
    .visualSection .visualInner{max-width: 90%;height: 490px;}

    .missionSection .missionInner{max-width: 90%;}
    .missionPlayArea{width: 100%;}
    .bounceRedBox{left: 50%;margin-left: -103px;}
    .missionPlayArea .playItemGroup{flex-direction: column;flex-wrap: wrap;}
    .missionPlayArea .playItemGroup .playItem{display: flex;flex-direction: row;flex-wrap: wrap;}
    .playItem .number{display: none;}
    .playItem .mobileNumber{display: flex;}
    .playItem .mobileNumber:after{content: "";position: absolute;bottom: -9px;left: 0;width: 58px;height: 9px;background-image: url(../images/img_playNum_arrow_m.png);background-repeat: no-repeat;z-index: 1;}
    .playItem:last-child .mobileNumber:after{display: none;}
    .playItem .item{display: flex;width: calc(100% - 58px);border-top: 1px solid #8B978F;border-left: 0;align-items: center;}
    .playItem + .playItem .item{margin-left: 0;margin-top: -1px;}
    .playItem .item:after{background-size: auto 86px;}
    .playItem .item .itemImg{width: 40%;height: 116px;padding-top: 0;}
    .playItem .item .itemName{width: 60%;height: auto;padding: 0 10px;margin-top: 0;}
    .playItem.on .mobileNumber{background: #FF4655;border-color: #ECE8E1;}
    .playItem.on .mobileNumber:after{background-image: url(../images/img_playNum_arrow_m_on.png);}

    .cardGetSection{background-image: none;}
    .cardGetSection .cardGetInner{padding: 0;}
    .cardGetSection .cardGetInner .cardGetFlex{flex-direction: column;}
    .cardGetInfo{width: 100%;max-width: none;padding: 60px 20px 40px;background-color: #FF4655;}
    .cardGetInfo:before{content: "";position: absolute;left: 0;bottom: -30px;width: 50%;height: 0;border-bottom: 0px solid #ff4655;border-top: 30px solid #ff4655;border-right: 25px solid transparent;border-left: 0 solid #ff4655;z-index: 1;}
    .cardGetInfo .cardGetInfoInner{position: relative;max-width: 600px;margin: 0 auto;padding-top: 26px;}
    .cardGetInfo .cardGetValue .cardGetNum{padding-left: 0;background-image: none;}
    .cardGetInfo .cardGetValue .cardGetNum p span{display: inline-block;margin-right: 10px;}
    .cardOpenWrap{width: 100%;padding: 60px 20px 63px;background-image: url(../images/bg_cardGet_m.png);background-position: center;background-size: cover;background-repeat: no-repeat;box-sizing: border-box;}

}
@media screen and (max-width: 767px){
    .menuOpened{overflow: hidden !important;-webkit-overflow-scrolling: touch;}

    .mobileShow{display: block !important;}
	.mobileShowInline{display: inline-block !important;}
    .mobileHide{display: none !important;}

    .titleLg{margin-top: 20px;font-size: 65px;}
    .textSm{font-size: 15px;}
    .textMd{margin-top: 6px;font-size: 15px;}

    .btn.md{font-size: 16px;}
    .btn.lg{font-size: 20px;}

    #btnEvent{top: 85px;right: -22px;font-size: 12px;}

    .scrolltop{display: none;}
    .scrollLeft{bottom: -15px;width: 1113px;height: 172px;}

    #btnMenuOpen{top: 33px;left: 0;width: 60px;height: 40px;background-color: #8B978F;background-image: url(../images/icon_menu_m.svg);background-position: center;background-repeat: no-repeat;border-color: #8B978F;}
    #btnMenuOpen:before, #btnMenuOpen span:before, #btnMenuOpen span:after{display: none;}
    #btnMenuclose{left: 16px;}
    #leftmenu{position: fixed;top: -1px;left: -1px;width: 300px;height: calc(100% + 2px);max-height: none; padding: 100px 25px 40px;overflow-y: auto;z-index: 99999;}
    #leftmenu + .dim{position: fixed;top: 0;left: 0;right: 0;bottom: 0;width: 100%;background-color: rgba(0, 0, 0, 0.7);-webkit-overflow-scrolling: touch;z-index: 20001;overflow-y: auto;opacity: 0;visibility: hidden;pointer-events: none;-webkit-transition: all 0.5s ease;transition: all 0.5s ease;}
    #leftmenu.active + .dim{opacity: 1;visibility: visible;}
    #leftmenu h4{font-size: 20px;}
    #leftmenu .bannerGroup{/* margin-bottom: 60px; */}
    #leftmenu .bannerGroup li a p{font-size: 18px;}
    #leftmenu .channelGroup{margin-bottom: 40px;}
    #leftmenu .channelGroup a{width: 55px;height: 55px;}
    #leftmenu .channelGroup a + a{margin-left: 7px;}
    #leftmenu .channelGroup a img{transform: scale(0.7);}

    .visualSection .visualInner{max-width: 100%;padding: 0 20px;}
    .visualSection .visualInner:before, .visualSection .visualInner:after{display: none;}
    .visualSection .visualInner .visualText p{margin-top: 5px;font-size: 18px;line-height: 160%;}
    .visualSection .visualInner .visualText + .btnLine{margin-top: 55px;}
    .visualSection .btnEventJoin{width: 243px;height: 60px;font-size: 18px;}

    .missionSection .missionInner{max-width: 100%;padding: 60px 20px;}
    .missionSection .missionInner:before, .missionSection .missionInner:after{display: none;}
    .missionHeader{margin-bottom: 0;}
    .missionHeader .title h3{font-size: min(9.6vw, 36px);}
    .missionHeader .text{font-size: min(8.5vw, 32px);}
    .missionPlayArea{margin-top: 75px;}
    .playItem .item .itemImg{width: 50%;}
    .playItem .item .itemImg img{height: 80px;}
    .playItem .item .itemName{width: 50%;font-size: 14px;}
    .playItem .item .itemName span{font-size: 12px;}
    .missionSpecialArea p{font-size: 12px;}
    .missionSpecialArea .btnLine{margin-top: 30px;}
    .missionSpecialArea .btnLine .btnSpecialItem{width: 236px;height: 58px;font-size: 18px;}

    .cardGetInfo:before{bottom: -17px;border-top: 17px solid #ff4655;border-right: 15px solid transparent;}
    .cardGetInfo .cardGetInfoInner:before{width: 75px;height: 9px;}
    .cardGetInfo .cardGetHeader p{font-size: min(7vw, 28px);}
    .cardGetInfo .cardGetHeader h3{font-size: min(12.3vw, 47px);letter-spacing: -0.02em;}
    .cardGetInfo .phoneConfirm{padding: 18px 20px 21px 20px;margin-top: 20px;}
    .cardGetInfo .phoneConfirm p{width: calc(100% - 95px);font-size: 12px;line-height: 160%;}
    .cardGetInfo .phoneConfirm .btnGetDetails{width: 90px;height: 35px;font-size: 14px;}
    .cardGetInfo .cardGetValue{flex-wrap: nowrap;margin-top: 40px;}
    .cardGetInfo .phoneConfirm + .cardGetValue{margin-top: 50px;}
    .cardGetInfo .cardGetValue .cardGetNum p{font-size: min(4.5vw, 18px);}
    .cardGetInfo .cardGetValue .cardGetNum p span{margin-right: 5px;}
    .cardGetInfo .cardGetValue .cardGetNum strong{margin-top: 18px;font-size: 110px;letter-spacing: 0.04em;}
    .cardGetInfo .cardGetValue .cardGetNum .btnGetDetails{margin-top: 10px;font-size: 12px;}
    .cardGetInfo .cardGetValue .teamPlayNum{margin-top: 2px;}
    .cardGetInfo .cardGetValue .teamPlayNum > p{font-size: 12px;}
    .cardGetInfo .cardGetValue .teamPlayNum > p > span{margin-left: 5px;}
    .cardGetInfo .cardGetValue .teamPlayNum .textBalloon{width: 192px;height: 68px;padding-top: 13px;margin-top: 15px;background-image: url(../images/bg_textBalloon_m.svg);}
    .cardGetInfo .cardGetValue .teamPlayNum .textBalloon p{font-size: 12px;line-height: 160%;letter-spacing: 0.02em;}
    .cardGetInfo .cardGetValue .teamPlayNum .btnEventInfo{margin-top: 39px;font-size: 12px;}
    .cardOpenWrap .cardBackImg{width: 100%;height: 290px;margin: 0 auto 40px;}
    .cardOpenWrap .cardBackImg div{width: 191px;}
    .cardOpenWrap .btnLine .btnLoginChk, .cardOpenWrap .btnLine .btnCardOpen{width: 243px;height: 60px;font-size: 18px;}

    .cardSlideSection{padding: 60px 0;}
    .cardSlideHeader{margin-bottom: 40px;}
    .cardSlideHeader strong{font-size: min(7.5vw, 28px);}
    .cardSlideHeader h3{font-size: min(16vw, 60px);}
    .cardSlideHeader p{font-size: min(3.2vw, 14px);}
    .cardSlideWrap{padding: 25px 0;}
    .cardSlideWrap:before{background-size: 220px auto;}
    .cardSlider .slideItem img{width: 220px;height: 220px;}
    .cardSlider .slideItem .name{max-width: 220px;height: 50px;font-size: 20px;}

    .updateSection .updateInner{padding: 88px 0 75px;}
    .updateText{margin-bottom: 40px;padding: 0 20px;}
    .updateText .title{font-size: 48px;}
    .updateText .text{margin-top: 10px;font-size: 14px;}
    .updateTextSlide{position: inherit;left: auto;width: 100%;padding: 0 40px;}
    .updateTextSlide .textItem{padding-top: 23px;}
    .updateTextSlide .textItem:before{width: 90px;height: 8px;}
    .updateTextSlide .textItem .title{font-size: 35px;}
    .updateTextSlide .textItem .text{margin-top: 15px;font-size: 13px;}
    .updateThumbSlide{margin-left: 0;margin-top: 35px;padding: 0 0 0 20px;}
    .updateThumbSlide .slick-slide{margin: 0 5px;}
    .updateThumbSlide .Thumb{width: calc(100vw - 50px);}
    .updateArrow{position: inherit;left: auto;bottom: auto;margin-top: 35px;padding: 0 20px;text-align: right;}
    .updateArrow button{width: 60px;height: 60px;background-size: 34px 31px;}

    .errorPage .errorText{margin-bottom: 40px;}
    .errorPage .errorText .textValorant{width: 141px;margin: 0 auto;}
    .errorPage .errorText h2{margin-top: 20px;font-size: 75px;}
    .errorPage .errorText p{margin-top: 40px;font-size: 16px;}
    .errorPage .fontLtPro{letter-spacing: 5px;}
    #btnHome{width: 240px; height: 60px;font-size: 16px;}
    
}

@-webkit-keyframes fillLine {
    0% {transform: scaleX(0%);}
    100% {transform: scaleX(100%);}
}
@-moz-keyframes fillLine {
    0% {transform: scaleX(0%);}
    100% {transform: scaleX(100%);}
}
@-ms-keyframes fillLine {
    0% {transform: scaleX(0%);}
    100% {transform: scaleX(100%);}
}
@-o-keyframes fillLine {
    0% {transform: scaleX(0%);}
    100% {transform: scaleX(100%);}
}
@keyframes fillLine {
    0% {transform: scaleX(0%);}
    100% {transform: scaleX(100%);}
}

@-webkit-keyframes bounceBox {
    0%, 100% {
        -webkit-transform: translate(0, -5%);
        transform: translate(0, -5%);
    }

    50% {
        -webkit-transform: translate(0, 5%);
        transform: translate(0, 5%);
    }
}
@-moz-keyframes bounceBox {
    0%, 100% {
        -webkit-transform: translate(0, -5%);
        transform: translate(0, -5%);
    }

    50% {
        -webkit-transform: translate(0, 5%);
        transform: translate(0, 5%);
    }
}
@-ms-keyframes bounceBox {
    0%, 100% {
        -webkit-transform: translate(0, -5%);
        transform: translate(0, -5%);
    }

    50% {
        -webkit-transform: translate(0, 5%);
        transform: translate(0, 5%);
    }
}
@-o-keyframes bounceBox {
    0%, 100% {
        -webkit-transform: translate(0, -5%);
        transform: translate(0, -5%);
    }

    50% {
        -webkit-transform: translate(0, 5%);
        transform: translate(0, 5%);
    }
}
@keyframes bounceBox {
    0%, 100% {
        -webkit-transform: translate(0, -5%);
        transform: translate(0, -5%);
    }

    50% {
        -webkit-transform: translate(0, 5%);
        transform: translate(0, 5%);
    }
}